<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
    {{> leaflet }}
    <link href="{{assets}}/css/default.css" rel="stylesheet">
  </head>
  <body>
    {{> nav }}
    {{> body }}
  </body>
</html>
