---
title: Kaua'i ARC
---
<header id="splash">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">John Montalbano, KH6JMM</div>
      <div class="intro-lead-in">We will miss you, John</div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {{md 'content/john.md'}}
    </div>
  </div>
</div>
<br>
