---
title: Information
---

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {{md 'content/info.md'}}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {{md 'content/nets.md'}}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {{md 'content/info/repeaters.md'}}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {{md 'content/info/simplex.md'}}
    </div>
  </div>
</div>
